@import '../../../shared/theme/theme-constants';

.landing-container {
  position: relative;
  height: 100%;
}

.landing-city-image {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;
  border-bottom: 1px solid #6986a1;
}

.landing-carousel {
  height: 100%;
}

.landing-carousel .carousel-item {
  height: 100%;
}

.landing-item-container {
  position: relative;
  height: 100%;
}


// Slide Text

.landing-item-text {
  position: absolute;
  top: calc(25vh);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.landing-item-text h3 {
  color: $custom-theme-color-1;
}

.landing-item-text p {
  color: black;
}

.landing-item-text.left {
  animation-name: leftTextAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.landing-item-text.right {
  animation-name: rightTextAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes leftTextAnimation {
  from {
    left: -100%;
  }
  to {
    left: 50%;
  }
}

@keyframes rightTextAnimation {
  from {
    left: 150%;
  }
  to {
    left: 50%;
  }
}


// Slide Images

.landing-item-image {
  position: absolute;
  height: 40vmax;
  bottom: 0;
}

.landing-item-image.left {
  left: 0;
  animation-name: leftImageAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.landing-item-image.right {
  right: 0;
  animation-name: rightImageAnimation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes leftImageAnimation {
  from {
    left: -50vh;
  }
  to {
    left: 0
  }
}

@keyframes rightImageAnimation {
  from {
    right: -50vh;
  }
  to {
    right: 0
  }
}
