/*-------------------------------------------*/
/*---------------- Bootstrap-----------------*/
/*-------------------------------------------*/

//Color
/*$theme-color-1: #eae7dc;
$theme-color-2: #d8c3a5;
$theme-color-3: #8e8d8a;
$theme-color-4: #e98074;
$theme-color-5: #e85a4f;*/

$theme-color-1: #a4b3b6;
$theme-color-2: #2a1b3d;
$theme-color-3: #d83f87;
$theme-color-4: #8265a7;
$theme-color-5: #44318d;

$theme-color-white: #f6f5f1;
$theme-color-black: #1c1c1b;

$primary: $theme-color-5;

// Font
$theme-font-size-8: 8vw;
$theme-font-size-7: 7vw;
$theme-font-size-6: 6vw;
$theme-font-size-5: 5vw;
$theme-font-size-4: 4vw;
$theme-font-size-3: 3vw;
$theme-font-size-2: 2vw;
$theme-font-size-1: 1vw;
//$theme-font-size: $theme-font-size-1;
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

// Radius
$theme-border-radius: 0;
$border-radius: $theme-border-radius;

//Body
$body-bg: $theme-color-4;
$body-color: $theme-color-black;

// Button
$btn-border-radius: $theme-border-radius;
$btn-border-radius-lg: $theme-border-radius;
$btn-border-radius-sm: $theme-border-radius;

// Card
$card-bg: $theme-color-1;

// Navbar
$navbar-nav-link-padding-x: 0.5rem;

// Navbar: Colors for dark background
$navbar-dark-color: rgba($theme-color-white, 0.5);
$navbar-dark-hover-color: rgba($theme-color-white, 0.75);
$navbar-dark-active-color: $theme-color-white;
$navbar-dark-disabled-color: rgba($theme-color-white, 0.25);
$navbar-dark-toggler-border-color: rgba($theme-color-white, 0.1);

// Navbar: Colors for light background
$navbar-light-color: rgba($theme-color-1, 0.5) !default;
$navbar-light-hover-color: rgba($theme-color-1, 0.7) !default;
$navbar-light-active-color: rgba($theme-color-1, 0.9) !default;
$navbar-light-disabled-color: rgba($theme-color-1, 0.3) !default;
$navbar-light-toggler-border-color: rgba($theme-color-1, 0.1) !default;

$navbar-light-brand-color: $theme-color-white;
$navbar-light-brand-hover-color: rgba($theme-color-white, 0.75);

// Elements
body {
  font-family: 'Rubik', sans-serif !important;
  color: $theme-color-black !important;
}

h1 {
  font-size: $theme-font-size-4 !important;
  font-weight: bold !important;
  color: $theme-color-5;
}

// Classes
.container {
  height: 100%;
  align-content: center;
}

.navbar {
  background-color: $theme-color-5;
  height: 6vh;
}

@import '../../node_modules/bootstrap/scss/bootstrap';

/*-------------------------------------------*/
/*----------------- Custom-------------------*/
/*-------------------------------------------*/

.index {
  height: 94vh;
  /*background: url('../assets/img/photos/index-hands-festival.jpg') no-repeat
    center center/cover;*/
  background: url('../assets/img/photos/planets.jpg') no-repeat center
    center/cover;
  background-repeat: no-repeat;
  background-size: 1920px 1280px;
}

.login-card {
  width: 400px;
  height: 500px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 40px 20px;
  opacity: 0.92;
  margin-top: auto;
  margin-bottom: auto;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  opacity: 0.5;
}

/* align icon */
.left-addon {
  .fa {
    left: 25px;
  }
  input {
    padding-left: 40px;
  }
}

/* Audio Player */
.audio-player {
  width: 150px;
  height: 150px;
  margin: auto;
  position: relative;
}

.audio-player-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio-player-button {
  color: #900c3f;
  cursor: pointer;
}

.audio-player-canvas {
  width: 150px;
  height: 150px;
}

.audio-player-invisible-button {
  width: 75px;
  height: 75px;
  color: white;
  margin: 4px 4px;
  border-radius: 50%;
  opacity: 0;
}
