@import '../../../shared/theme/theme';
/*
.recording-card {
  background-color: #5daebe !important;
  height: 20rem;
  min-width: 10rem;
  padding: 10px;
  border: 2px solid black;
}
*/
.recording-card-image {
  width: 50%;
  margin-left: 25%;
}

.recording-card-track {
  font-weight: bold;
}

.recording-card-artists {
  color: white;
}
