@import '../../../shared/theme/theme-constants';

.recording-card {
  height: 11.5rem;
  min-width: 10rem;
  padding: 1rem;
  text-align: center;
}

.recording-card-container {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.image-flip-card {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.image-flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-image {
  width: 100%;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
  text-align: center;
}


.recording-map-window-track {
  color: $custom-theme-color-4-dark3;
  font-weight: bold;
}

.recording-map-window-artists {
  color: $custom-theme-color-1-light1;
  overflow: hidden;
  position: relative;
}