@import '../../../shared/theme/theme-constants';

.recording-card {
  height: 19rem;
  min-width: 10rem;
}

.recording-card-container {
  margin: 1rem;
}

.recording-card-image {
  width: 50%;
  margin-left: 25%;
}

.recording-card-content {
  margin-top: 0.5rem;
  text-align: center;
}

.recording-card-track {
  color: $custom-theme-color-4-dark3;
  font-weight: bold;
}

.recording-card-artists {
  color: $custom-theme-color-1-light1;
  overflow: hidden;
  position: relative;
}

.recording-card-buttons {
  width: 100%;
  position: relative;
  text-align: center;
  bottom: 0;
}

.card-button-container {
}
