@import '../../../shared/theme/theme';

.recording-card {
  height: 16rem;
  min-width: 10rem;
  padding: 1.5rem;
}

.recording-card-image {
  width: 50%;
  margin-left: 25%;
}

.recording-card-content {
  margin-top: 0.5rem;
  text-align: center;
  height: 100%;
}

.recording-card-track {
  color: $custom-theme-color-4-dark3;
  font-weight: bold;
}

.recording-card-artists {
  color: $custom-theme-color-4-dark2;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.recording-card-buttons {
  position: relative;
  text-align: center;
  bottom: 0;
}

.spotify-button {
  height: 1.5rem;
}

.btn-primary {
  background-color: $color-spotify-green;
  border-color: $color-spotify-green;
}
