@import '../../../shared/theme/theme-constants';

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.navbar {
  background-color: rgba(255,255,255,0) !important;
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link{
  color: rgba(0,0,0,1);
}

.dropdown-item:hover {
  background-color: transparent !important;
  color: $custom-theme-color-2 !important;
}

.dropdown-item:active {
  background-color: transparent !important;
  color: $custom-theme-color-1 !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
  border-radius: $custom-card-radius;
}

.avatar {
  margin-top: 7px;
}

.navbar-brand {
  width: 25%;
  max-width: 7rem;
}

.developer-mode-text {
  color: $custom-theme-color-1-light1;
  font-weight: bold;
}