@import '../../../shared/theme/theme-constants';

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.navbar {
  background-color: rgba(255,255,255,0) !important;
  z-index: 1;
}

.navbar-light .navbar-nav .nav-link{
  color: rgba(0,0,0,1);
}

.avatar {
  margin: 7px;
}

.brand-logo {
  height: 30px;
}

.developer-mode-text {
  color: $custom-theme-color-1-light1;
  font-weight: bold;
}