@import "../../../../shared/theme/theme-constants";

.welcome-modal {
  text-align: center;
  max-width: none !important;
  width: 25rem !important;

  .modal-content {
    border-radius: 0 !important;
    height: 25rem;
  }

  .modal-body {
    padding: 0;
  }

  .carousel {
    height: 100%;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-item {
    height: 100%;
  }

  .recording-card {
    width: 10rem;
    margin: auto;
  }

  .text-orange {
    color: $custom-theme-color-1-light1;
  }

  .text-blue {
    color: $custom-theme-color-2-light1;
  }

  .moon {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.welcome-modal-hide-control {
  background-image: none !important;
}

.welcome-modal-carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19rem;
}

@media (min-width: 0px) {
  .welcome-modal.modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .welcome-modal.modal-dialog {
    margin: 1.75rem auto;
  }
}

.welcome-modal-title {
  font-size: 1.5rem;
  color: $custom-theme-color-1;
}

.welcome-modal-logo {
  height: 2rem;
}