.sad-gif {
  width: 8rem;
  top: 3.4rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-modal-body {
  text-align: center;
}

.not-found-modal-content {
  margin-top: 3rem;
}