@import '../../../shared/theme/theme-constants';

.user-info-container {
  height: 100%;
  text-align: center;
  pointer-events: none;
}

.user-avatar {
  pointer-events: none;
}

.user-name {
  font-weight: bold;
}