@import "../../../../shared/theme/theme";

.header-container {
  position: relative;
  height: 20vw;
  display: flex;
  align-items: center;
  background-color: white;
}

.city-image {
  position: absolute;
  bottom: 0;
  width:100%;
  z-index: 0;
}

.header-jumbotron {
  font-size: $theme-font-size-3;
  font-weight: bold;
  color: $custom-theme-color-primary;
  -webkit-text-stroke: 0.1px black;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 1.5s;
}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 1.5s 0s;
}