@import '../../../shared/theme/theme-constants';

.profile-header-container {
  width: 100%;
  margin-bottom: 7rem;
}

.profile-user-info {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 16.3rem;
  pointer-events: none;
}

.profile-map {
  height: 16rem;
  z-index: 1;
}