@import '../../../shared/theme/theme';

.profile-header-container {
  width: 100%;
}

.profile-user-info {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 230px;
}

.profile-map {
  height: 250px;
  z-index: 1;
}