@import './theme-constants';

.btn {
  border-radius: 500px;
  min-width: 70px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  background-color: $custom-theme-color-1;
  border-color: $custom-theme-color-1;
}


// Spotify button

.spotify-button-logo{
  height: 1.5rem;
}

.spotify-button .btn-primary {
  background-color: $color-spotify-green;
  border-color: $color-spotify-green;
}