@import './theme-constants';

.btn {
  border-radius: 500px;
  min-width: 70px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  background-color: $custom-theme-color-1;
  border-color: $custom-theme-color-1;
}