// Primary color
$custom-theme-color-primary: #FFA62B;

// Theme colors
$custom-theme-color-1: #16697A;
$custom-theme-color-2: #489FB5;
$custom-theme-color-3: #82C0CC;
$custom-theme-color-4: #EDE7E3;
$custom-theme-color-5: #F6C787;

$theme-body-background: white;

// Black & White
$custom-theme-color-white: #f6f5f1;
$custom-theme-color-black: #1c1c1b;

// Alert colors
$custom-theme-color-success: #66db66;
$custom-theme-color-warning: #ffba3b;
$custom-theme-color-error: #ff8080;

// Font
$theme-font-size-8: 8vw;
$theme-font-size-7: 7vw;
$theme-font-size-6: 6vw;
$theme-font-size-5: 5vw;
$theme-font-size-4: 4vw;
$theme-font-size-3: 3vw;
$theme-font-size-2: 2vw;
$theme-font-size-1: 1vw;