// Theme colors
$custom-theme-color-1: #FF6201;
$custom-theme-color-1-light1: #FFB485;
$custom-theme-color-1-light2: #FF8E47;
$custom-theme-color-1-dark1: #CC4E00;
$custom-theme-color-1-dark2: #8F3700;

$custom-theme-color-2: #3D87B8;
$custom-theme-color-2-light1: #94BFDB;
$custom-theme-color-2-light2: #66A3CC;
$custom-theme-color-2-dark1: #2E658A;
$custom-theme-color-2-dark2: #1F435C;

$custom-theme-color-3: #C179B9;
$custom-theme-color-3-light1: #ECD5E9;
$custom-theme-color-3-light2: #D8ABD3;
$custom-theme-color-3-dark1: #B257A7;
$custom-theme-color-3-dark2: #8C4083;


$custom-theme-color-4: #989DAE;
$custom-theme-color-4-light1: #F4F4F6;
$custom-theme-color-4-light2: #BABEC9;
$custom-theme-color-4-dark1: #767D93;
$custom-theme-color-4-dark2: #5A5F72;

$custom-theme-color-5: #9EE493;
$custom-theme-color-5-light1: #E1F7DE;
$custom-theme-color-5-light2: #C4EFBE;
$custom-theme-color-5-dark1: #7BDA6C;
$custom-theme-color-5-dark2: #39A329;

// Black & White
$custom-theme-color-white: #F0F6FA;
$custom-theme-color-black: #0F212E;
$custom-theme-color-grey: #CAC4CE;

$theme-body-background: $custom-theme-color-3;

// Alert colors
$custom-theme-color-success: #66db66;
$custom-theme-color-warning: #ffba3b;
$custom-theme-color-error: #ff8080;


