@import "../../../shared/theme/theme-constants";

.container.alert-modal-content {
  position: absolute;
}

.alert-modal-content {
  .modal-content {
    background: none !important;
    border-width: 0 !important;
    border-radius: 0 !important;
  }

  .alert-modal {
    max-width: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0.5rem !important;
    opacity: 0.9;
  }

  .modal-body {
    width: 100% !important;
    padding: 0 !important;
  }
}

.alert-element {
  padding: 0.5rem;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.15rem;
}

.alert-success {
  background-color: $custom-theme-color-success;
}

.alert-warning {
  background-color: $custom-theme-color-warning;
}

.alert-error {
  background-color: $custom-theme-color-error;
}

.alert-icon {
  display: inline;
  margin-left: 0.25rem;
}

.alert-message {
  display: inline;
  margin-left: 0.35rem;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.close-modal-button {
  color: $custom-theme-color-black;
  position: absolute;
  right: 0.7rem;
  top: 11px;
  cursor: pointer;
}
